*{
	padding:0;
	margin:0;
}
body{
	width:100%;
	height:100%;
	/* min-width:1440px; */
	background-color:#f5f5f5;
	 /* font-family: "微软雅黑" , "黑体" , "Simplified Arabic Fixed"; */
}
/* 顶部导航条 */
.navs{
	position:fixed;
	top:0;
	left:0;
	z-index:11;
	width:100%;
	min-width:1010px;
}

.selectedDiv{
	display:block;
	/*width:1440px;*/
	height:90px;
	 /* border:1px solid red;  */
	box-shadow: 2px 2px 10px darkgrey;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	align-items:center;
	background-color:white;
}
.logoImgHidden{
	/* border:1px solid blue; */
	width: 127px;
	height: 51px;
}
.selectedLi{
	display:block;
	/* border:1px solid blue; */
	width: 730px;
	height: 20px;
}

.selectedLi ul{
	margin-bottom:-5px;
	width: 730px;
}
.selectedLi ul li{
	list-style:none;
	display:inline-block;
	margin-right:2.3%;
	margin-left: 2.3%;
	font-size:14px;
}
ul li a{
	color:black;
	text-decoration: none !important;
}
ul li a:hover{
	color:black;
	text-decoration: none;
}
.selectedColor{
	color:#3799ec !important;
	border-bottom:2px solid #3799ec;
}

.btn{
	border-radius:0 4px 4px 0 !important;
	margin-left:-4px;
	margin-top:-3px;
	outline:none;
}
.loginerInfoHidden{
	width:265px;
	height:53px;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	align-items:center;
	margin-right:10px;
	/* border:1px solid blue; */
}
.searchImg img{
	width:20px;
	height:20px;
	display:inline-block;
}
.btn-search{
	border-radius:4px !important;
	padding:3px 6px !important;
}
.btn-success{
	color: #fff;
    background-color: #73d25a !important;
    border-color: #73d25a !important;
}
.bellHidden{
	border-left:1px solid #cccccc;
	padding-left:6px;
	border-right:1px solid #cccccc;
	padding-right:8px;
}
 .bellHiddenImg{
	width:20px;
	height:20px;
	display:inline-block;
}
 .starts{
	width: 8px;
    height: 8px;
    display: inline-block;
    margin-bottom: 20px;
}
.loginerHiddenImg img{
	width:40px;
	height:40px;
	border-radius:40px;
}
.loginerHiddenName p{
	margin:0 0 1px;
	font-size:14px;
}

/* 搜索框，不在页面显示，当点击搜索图标时，
显示搜索框，且搜索图标隐藏 */
.navSearch_hidden{
	display:none;

}
.selectedDiv_block{
	/*width:1440px;*/
	height:90px;
	 /*border:1px solid red;*/ 
	box-shadow: 2px 2px 10px darkgrey;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	align-items:center;
	background-color:white;
}
.selectedInput{
	display:block;
	/*border:1px solid blue;*/
	width: 730px;
	/* height: 20px; */
	text-align:center;
}
.selectedInput input{
	width: 560px;
	height: 34px;
	outline:none;
}
.searchImgHidden{
	width: 56px;
	height: 21px;
}
.searchImgHidden img{
	width:20px;
	height:20px;
	display:inline-block;
	display: none;
}

/* 主体内容部分 */
.bodyContent{
	width:100%;
}
.content{
	width:1152px;
	margin:0 auto;
	/* border:1px solid blue; */
	margin-top:120px;
}
/* 导航条 */

.navItems dl dd{
	list-style:none;
	display:inline-block;
}
.navItems dl dd a{
	text-decoration:none;
}
.defaultColor{
	color:black;
}
.lastSelectedCourse{
	color:#3291e0;
}

/* 课程名称 */
.courseInfo{
	margin-top:15px;
	border-left:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	border-top:1px solid #ebebeb;
}
.courseInfoContent{
	padding:25px 0 30px 25px;
	display:flex;
	justify-content:flex-start;
	flex-wrap:nowrap;
	/* border:1px solid red; */
}
.courseCoverImg img{
	width:355px;
	height:190px;
}
.courseDetailInfo{
	margin-left:37px;
}
.courseDetailInfo img{
	width:13px;
	height:13px;
	vertical-align:middle;
}
.courseDetailName{
	font-size:18px;
	letter-spacing:1px;
}
.coursePlayInfo{
	margin-top:5px;
}
.coursePlayInfo span{
	font-size:12px;
	font-weight:600;
}
.playNum{
	color:#419fed;
}
.courseDetailType{
	border-left: 1px solid gray;
    padding-left: 10px;
    margin-left: 5px;
    color:#999999;
}
.timeImg{
	margin-left:50px;
}
.playTime{
	color:#999999;
}
.courseTeacher{
	margin-top:12px;
	font-size:18px;
}
.startStudy{
	width: 115px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 5px 25px;
    background-color: #419fed;
    color: white;
    cursor: pointer;
    text-align: center;
}

/* 内容概述 */
.courseContentItem{
	display:flex;
	justify-content:space-between;
	flex-wrap:nowrap;
	margin-top:10px;
}
.courseContent{
	width:800px;
	height:400px;
	border:1px solid #ebebeb;
}
.courseDetailContentTitle{
	margin: 25px 0 0 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.courseDetailContent{
	margin: 15px 0 0 15px;
    font-size: 15px;
    letter-spacing: 1px;
}
.courseDetailContent p{
	text-indent:35px;
	line-height:30px;
	color:#838292;
}



.teacherDetail{
	width:330px;
	height:400px;
	text-align:center;
	border:1px solid #ebebeb;
}
.teacherDetail img{
	width: 65px;
    height: 65px;
    margin-top: 30px;
}
.teacherName{
	margin-top:15px;
}
.teacherDetailContent{
	margin: 0 30px 0 30px;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
   	color:#838292;
   	letter-spacing:1px;
}