*{
	padding:0;
	margin:0;
}
body{
	width:100%;
	height:100%;
	/* min-width:1440px; */
	
}
/* 顶部导航条 */
.navs{
	position:fixed;
	top:0;
	left:0;
	z-index:11;
	width:100%;
	min-width:1010px;
	cursor:pointer;
}
.selectedDiv{
	display:block;
	/*width:1440px;*/
	height:90px;
	 /* border:1px solid red;  */
	box-shadow: 2px 2px 10px darkgrey;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	align-items:center;
	background-color:white;
}
.logoImgHidden{
	/* border:1px solid blue; */
	width: 127px;
	height: 51px;
}
.selectedLi{
	display:block;
	/* border:1px solid blue; */
	width: 730px;
	height: 20px;
}

.selectedLi ul{
	margin-bottom:-5px;
	width: 730px;
}
.selectedLi ul li{
	list-style:none;
	display:inline-block;
	margin-right:2.3%;
	margin-left: 2.3%;
	font-size:14px;
}
ul li a{
	color:black;
	text-decoration: none !important;
}
ul li a:hover{
	color:black;
	text-decoration: none;
}
.selectedColor{
	color:#3799ec !important;
	border-bottom:2px solid #3799ec;
}

.btn{
	border-radius:0 4px 4px 0 !important;
	margin-left:-4px;
	margin-top:-3px;
	outline:none;
}
.loginerInfoHidden{
	width:265px;
	height:53px;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	align-items:center;
	margin-right:10px;
	/* border:1px solid blue; */
}
.searchImg img{
	width:20px;
	height:20px;
	display:inline-block;
}
.btn-search{
	border-radius:4px !important;
	padding:3px 6px !important;
}
.btn-success{
	color: #fff;
    background-color: #73d25a !important;
    border-color: #73d25a !important;
}
.bellHidden{
	border-left:1px solid #cccccc;
	padding-left:6px;
	border-right:1px solid #cccccc;
	padding-right:8px;
}
 .bellHiddenImg{
	width:20px;
	height:20px;
	display:inline-block;
}
 .starts{
	width: 8px;
    height: 8px;
    display: inline-block;
    margin-bottom: 20px;
}
.loginerHiddenImg img{
	width:40px;
	height:40px;
	border-radius:40px;
}
.loginerHiddenName p{
	margin:0 0 1px;
	font-size:14px;
}

/* 搜索框，不在页面显示，当点击搜索图标时，
显示搜索框，且搜索图标隐藏 */
.navSearch_hidden{
	display:none;

}
.selectedDiv_block{
	/*width:1440px;*/
	height:90px;
	 /*border:1px solid red;*/ 
	box-shadow: 2px 2px 10px darkgrey;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	align-items:center;
	background-color:white;
}
.selectedInput{
	display:block;
	/*border:1px solid blue;*/
	width: 730px;
	/* height: 20px; */
	text-align:center;
}
.selectedInput input{
	width: 560px;
	height: 34px;
	outline:none;
}
.searchImgHidden{
	width: 56px;
	height: 21px;
}
.searchImgHidden img{
	width:20px;
	height:20px;
	display:inline-block;
	display: none;
}

/* 内容部分 */
.bodyContent{
	width:100%;
}
.content{
	width:1152px;
	/* height:125px; */
	margin:0 auto;
	/* border:1px solid blue; */
	/* margin-top:120px; */
	padding-top:120px;
	position:relative;
}
.ss{
	width:100%;
}

/* 嘉华在线考试 */
 .contentTopBg img{
	width:100%;
	height:125px;
} 

.item{
	width:280px;
}
/* 在线考试 */
.serviceType{
	width: 280px;
    height: 90px;
    background-color: white;
    /* border: 1px solid red; */
    position: absolute;
    top: 140px;
    left: 20px;
    /* box-shadow: 1px 1px 1px cyan; */
    border-bottom: 1px solid #cde8ff;
    border-left: 1px solid #cde8ff;
    border-top: 1px solid #cde8ff;
    z-index: 10;

}
.serviceType_title{
	color:#419fed;
	margin:17px 0 0 20px;
	font-size:16px;
}
.serviceType p{
	display:inline-block;
	letter-spacing:2px;
}
.serviceType img{
	display: inline-block;
    width: 25px;
    height: 20px;
    vertical-align: sub;
}
.serviceType_content{
	margin:5px 0 0 20px;
	font-size:12px;
}
.serviceType_content span{
	/* padding-right:10px; */
}


.serviceType_contentItems{
	display:block;

}
.serviceType_contentItems a{
	color:#555;
	text-decoration:none;
	margin-right:20px;
}
.serviceType_content span a:hover{
	color:#419fed;
	text-decoration:none;
}
/* 在线考试内容 */
.testContent{
	width:85%;
	margin:0 auto;
	/* border:1px solid red; */
	margin-top:10px;
	font-size:15px;
}
.testItems{
	display:flex;
	justify-content:flex-start;
	flex-wrap:nowrap;
	align-items:center;
	padding: 0 10px;
	border-bottom:1px solid #e9e9e9;
}
.testTitle{
	display:flex;
	justify-content:flex-start;
	flex-wrap:nowrap;
	align-items:center;
	width:330px;
	padding-right:10px;
	/* border:1px solid blue; */
}
.testName{
	width:260px;
}

/* 考试未完成-未开始 */
.testNoFinish{
	padding-top:20px;
	margin-right:15px;
	width:60px;
}
.testNoFinish img{
	width:20px;
	height:20px;
	margin-left:12px;
}
.testNoFinish p{
	color:#fe9030;
}
.testName{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.testTime{
	width:240px;
	/* border:1px solid blue; */
}
.testNoStatus{
	width:130px;
	color:#419fed;
	/* border:1px solid blue; */
}
.testScore{
	width:170px;
	color:gray;
	/* border:1px solid blue; */
}
.testBtn{
	border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 5px 15px;
    width:95px;
    color:#b3b3b3;
}
/* 考试未完成-测试中 */
.testStatus-test{
	width:130px;
	color:#e60012;
}
.testBtn-test{
	border: 1px solid #419fed;
    border-radius: 5px;
    padding: 5px 15px;
    width:95px;
    color:#419fed;
}


/* 考试完成-测试中 */
.testFinish{
	padding-top:20px;
	margin-right:15px;
	width:60px;
}
.testFinish img{
	width:20px;
	height:20px;
	margin-left:12px;
}
.testFinish p{
	color:#5dc54e;
	margin-left:8px;
}
/* 考试完成-已结束-成绩不及格 */
.testStatus-end{
	width:130px;
}
.testBtn-check{
	border: 1px solid #419fed;
    border-radius: 5px;
    padding: 5px 15px;
    width:95px;
    color:#419fed;
}
.testScore-bad{
	width:170px;
	color:#e60012;
	font-size:20px;
}
/* 考试完成-已结束-成绩及格 */
.testScore-good{
	width:170px;
	color:#5dc54e;
	font-size:20px;
}